@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  background-color:white;
  font-family: 'Nunito', sans-serif;
}

header {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 80px;
  height: 80px;
  padding-top:10px;

}

span#accueil {
  padding-left:100px;
  padding-bottom:18px;
  font-size:30px;
  color:black;
}

span#n {
  font-size:30px;
  color:black;
}

span#reddit {
  font-size:30px;
  color:black;
}

span#messenger {
  padding-right:200px;
  font-size:30px;
  color:black;
}

main {
  background-color: rgba(72, 172, 152, 1);
}

a {
  text-decoration:none;
  color:black;
  padding-right:3px;
  padding-top:2px;
}

a:hover {

  color:grey;
}

div.brua {
  display:flex;
  flex:column;
  justify-content: space-around;
}

.top {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  font-size:80px;
  text-shadow:1px 1px white;
}

.middle {
  position: absolute;
  top: 40%;
  left: 20%;
  text-align:center;
  color:white;
  font-size:30px;
  width:1000px;
  text-shadow:2px 2px black;
}

.bottom {
  position: absolute;
  top: 80%;
  left:44%;
  text-align:center;
  color:white;
  font-size:30px;
  width:1000px;
  text-shadow:2px 2px white;
  background-color:rgba(72,172,152);
  border: 1px solid black;
  border-radius:30px;
  width:200px;
  height:100px;
}

div.brua img{


  width:90vw;
  height:86vh;

}

div img {
  opacity:0.5;
}
